data-integration/
installation-files/
install.properties.remote
install.properties.local
install.properties.original
install/suitecrm-dwh-db-passed
install/suitecrm-db-passed
install/ddl-passed
suitecrm-data-integration-server/configuration/.kettle/
suitecrm-data-integration-server/configuration/config
suitecrm-data-integration-server/configuration/simple-jndi/
suitecrm-data-integration-server/logs/
install.properties.live
install.properties.stashed
